*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color:#e9faeb;
    height: 100vh;;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex01{
    width: 80%;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 185px;
}

h2.titulo{
    color:rgb(0, 0, 0);
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color:#3B6654;
}

/* Estilo do cabeçalho */

header{
    margin-top: 1%;
    padding: 15px 11%;
    background-color: #32343393;
    font-family: 'Comfortaa';
    width: 90%;
    margin-left: 5%;
    border-radius: 35px;
    
}

.myName{
    color: #ffffff;
    font-size: 25px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    transition: .2s;
    
}
header a:hover{
    color:#06d899;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
    
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

button{
    padding: 10px 40px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    background-color: #093C2D;;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    
}

button:hover{
    background-color: #3B6654;
}

/*Estilo do topo do site */

.titulo-principal{
    max-width: 1480px;
    text-align: center;
    margin: 85px auto;
    color: #ffffff;
}
.titulo-principal:after{
 content: '⚽';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

section .topo-do-site{
    padding: 60px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.topo-do-site h1{
    color:rgb(255, 255, 255);
    font-size: 33px;
    line-height: 20px;
    text-align: center;
}


.topo-do-site .txt-topo-site p{
    color: rgb(255, 255, 255);
    margin: 0 auto ;
    font-size: 20px;
    width: 85%;
}

.btn-contato{
    text-align: center; 
}

.botaozinho{
    color: aliceblue;
    background-color: #093C2D;
    width: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
   
}

.botaozinho:hover{
    background-color: #3B6654;
}


.menu-desktop{
    margin-left: 80px;

}


.container2{
    width: 80%;
    height: 50%;
    background-color: #ffffff;
}

.itens{
    display: flex;
    flex-direction: column;
    
}
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(97, 245, 176) 50%, rgb(32, 117, 103) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    height: 10;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-logo {
    width: 150px; /* Ajuste conforme necessário */
    animation: blink 1s infinite alternate ease-in-out;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0.3; }
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	animation: spinz 1.35s linear infinite;
	width: 100%;
	height: 100%;
	/* background-color: #ffffff; */
	background-color: #F6FBFD;       /* Change the background color here */
	z-index: 100;
  }
  
  .loader {
	border: 16px solid #efeee8;
	border-top: 16px solid #066931;  /* Change the preloader color here */
	border-radius: 50%;
	width: 150px;
	height: 150px;
	animation: spin 1.35s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
  }

  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	  opacity:1;
	}
	50% {
	  transform: rotate(360deg);
	  opacity:1;
	}
	75% {
	  opacity:1;
	  transform: rotate(180deg);
	}
	100% {
	  transform: rotate(0deg);
	  opacity:0;
	}
  }
  
  @keyframes spinz {
	0% {
	  opacity:1;
	}
	50% {
	  opacity:1;
	}
	75% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }


.descricao {
  width: 100%; 
  padding: 60px 0; 
  text-align: center;
  background-color: #bccdc6;
  margin-bottom: -150px;
}

h1 {
  font-size: 2.5rem; 
  margin-bottom: 100px; 
}

span {
  color: #246545; 
}


.container {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* Alinha verticalmente os itens */
  width: 100%;
  max-width: 1200px; /* Limita a largura máxima do container */
  margin: 0 auto; 
  padding: 0 20px;
}

.textodescricao {
  width: 35%; 
  text-align: left; 
  padding-right: 20px; 
  margin-bottom: 20%;
}

.descricaodotrivela{
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  color: #215133;
}

.imagensund {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  width: 65%; 
  align-items: center; 
  gap: 20px; 
}

.imagensund img {
  width: 100%;
  max-width: 300px; 
  height: auto;
  object-fit: contain; 
}

.img03 {
  position: relative;
  top: -320px; 
  right: -370px; 
  transform: translateY(-50%); 
  width: 200px; 
}

.img02{
  margin-top: 20%;
}

.indicadores {
  width: 100%; 
  padding: 120px 0; 
  text-align: center;
  background-color: #ffffff;
}

.descricaoPotencial{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.containerDados {
  width: 70%;
  background: linear-gradient(90deg, rgba(171, 226, 212, 0.675) 0%, rgba(169, 225, 208, 0.84) 78%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 0; 
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.ladoA,
.ladoB {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  width: 35%;
  height: 300px;
}

.separator {
  width: 1.6px; 
  background-color: #ffffff; 
  height: 230px;
  margin-top: 3%;
}

i{
  font-size: 30px;
}

.tal{
  background-color: #06d899;
}


  footer {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#0c280f, #264e40);
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 0;
    top:100px
  }
  
  
  
  .footer-containers {
    color: #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    width: max-content;
  
  }
  
  .footer-container {
    margin: 10px;
    margin-left: 10vw;
    padding-left: 20px;
    display: flex;
    width: max-content;
    list-style: none;
    align-items: flex-start;
    flex-direction: column;
    border-left: 0.5px solid rgba(240, 248, 255, 0.286);
  }
  
  .footer-container a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .mincontent {
    width: max-content;
  }
  
  .new{
    text-align: center;
    color: #ffffff;
  }
  
  .copy {
    color: #ffffff;
    margin: 0;
    padding: 10px;
  }


