<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportSphere - Configuração de Perfil</title>
    <link rel="stylesheet" href="/static/style/ConfiguracaoPerfil.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="latBarContainer">
            <div>
                <img src="/static/images/SPORT.png" alt="logo SportSphere"/>
            </div>
            <div>
                <a href="../home"><i class="fa-solid fa-bell"></i> Postagens</a>
                <a href="../home/times"><i class="fa-solid fa-bell"></i>Times</a>
                <a href="../home/configPerfil"><i class="fa-solid fa-user"></i> Configuração do Perfil</a><br><br><br>
                <a href="/"><button class="btnSair" type="button"><i class="fa-solid fa-right-from-bracket"></i> Sair</button></a>
            </div>
            
        </div>
        <div class="perfilContainer">
            <span>Atualização de Perfil</span>
            <div>
                <input type="text" id="name" name="name" required autocomplete="none">
                <label for="name">Nome</label>
            </div>
            <div>
                <input type="tel" id="phone" name="phone" required autocomplete="none">
                <label for="phone">Telefone</label>
            </div>    
            <div>
                <input type="email" id="email" name="email" required autocomplete="none">
                <label for="email">E-mail</label>
            </div>
            <div>
                <input type="password" id="password" name="password" required autocomplete="none">
                <label for="password">Senha</label>
            </div>
            <div class="btnContainer">
                <button type="button"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
                <button type="button"><i class="fa-solid fa-trash-can"></i> Deletar Perfil</button>
            </div> 
        </div>
    </div>
</body>
</html>
