<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style/landing.css">
    <title>Trivela</title>
</head>
<body>
    <div class="preloader" id="preloader">
        <img src="static/images/logoTrivela-removebg-preview.png" alt="" class="loader" id="loader">
    </div>
    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <H3 class="myName">TVLA</H3>
                </a>    
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Chatbot</a></li>
                    <li><a href="#">Análise de vídeos</a></li>
                    <li><a href="#">Sobre</a></li>
                </ul>
            </nav>
            <div class="btn-contato"></div>
                <a href="/login">
                    <button>Login</button>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex01">
                    <div class="txt-topo-site">
                        <h1 class="titulo-principal">Trivela - Conectando talentos, criando oportunidades.</h1>
                        <p>O Trivela é uma rede social inovadora projetada para conectar atletas talentosos de todo o mundo às melhores oportunidades no esporte. Nossa plataforma permite que jogadores mostrem seu talento, se conectem com olheiros, treinadores e clubes, e encontrem oportunidades que impulsionem suas carreiras. Seja você um jovem promissor ou um profissional experiente, o Trivela é o lugar certo para expandir sua rede e alcançar novos patamares. 🚀⚽</p>
                    </div>
                    <div class="btn-contato">
                        <a href="#">
                            <button class="botaozinho">Entre em contato</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="descricao">
            <h1>Conheça o <span>Trivela</span></h1>
            <div class="container">
                <div class="textodescricao">
                    <p class="descricaodotrivela">O TVLA é a maneira mais inovadora de você, atleta, mostrar todo o seu potencial e se conectar às melhores oportunidades do mundo esportivo. Tire dúvidas com um chatbot especializado em dicas esportivas e nutricionais, avalie sua performance por meio de um sistema de visão computacional, calcule seus ganhos e conquiste recompensas com nossa plataforma gamificada. Além disso, você poderá se conectar com olheiros de todo o mundo e muito mais!</p>
                    <br>
                    <button>Saiba mais</button>
                </div>
                <div class="imagensund">
                    <img class="img01" src="static\images\undraw_greek-freak_p532 (1).svg" alt="Imagem 1">
                    <img class="img02" src="static\images\undraw_goal_rulh.svg" alt="Imagem 2">
                    <img class="img03" src="static\images\undraw_grand-slam_xvhp (1).svg" alt="Imagem 3">
                </div>
            </div>
        </section>
        <section class="indicadores">
            <h1>Em dsv</h1>
        </section>
        
        <footer>
            <div class="footer-containers">
                <div>
                    <h2>Trivela</h2>
                    <p class="new">TVLA</p>
    
                </div>
                <div class="footer-container">
    
                    <li><a href="/">Chatbot</a></li>
                    <li><a href="/">Entre em contato</a></li>
                    <li><a href="/login">Login</a></li>
                    
    
                </div>
    
            </div>
            <p class="copy">&copy; Copyright 2025. Por:<a href="/"> @Marolovi Tech</a></p>
        </footer>
</body>
<script src="static/js/maquina.js"></script>
<script src="static/js/script_preloader.js"></script>
</html>