<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SportSphere - Postagens</title>
    <link rel="stylesheet" href="static\style\postagens.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head> 
<body>
    <div class="container">
        <div class="latBarContainer">
            <div>
                <img src="/static/images/SPORT.png" alt="logo SportSphere"/>
            </div>
            <div>
                <a href="../home"><i class="fa-solid fa-bell"></i> Postagens</a>
                <a href="../home/perfil"><i class="fa-solid fa-comments"></i> Nova Postagem</a>
                <a href="../home/nova-postagem"><i class="fa-solid fa-user"></i> Configuração do Perfil</a>
            </div>
            <div>
                <a href="/"><button type="button"><i class="fa-solid fa-right-from-bracket"></i> Sair</button></a>
            </div>
        
        </div>
        <!--TODA POSTAGEM NOVA DEVE SER RENDEREZADA NO postContainer-->
        <div class="postContainer">
            <div class="pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="p" placeholder="Pesquisar">
            </div>
            
        </div>
    </div>
</body>
</html>