<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/times.css">
    <title>SportSphere</title>
</head>
<body>
    <div class="container">
        <div class="latBarContainer">
            <div>
                <img src="/static/images/SPORT.png" alt="logo SportSphere"/>
            </div>
            <div>
                <a href="../home"><i class="fa-solid fa-bell"></i> Postagens</a>
                <a href="../home/times"><i class="fa-solid fa-bell"></i>Times</a>
                <a href="../home/configPerfil"><i class="fa-solid fa-user"></i> Configuração do Perfil</a><br><br><br>
                <a href="/"><button class="btnSair" type="button"><i class="fa-solid fa-right-from-bracket"></i> Sair</button></a>
            </div>
        </div>
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="/static/images/flamengo-.png">
        </div>
        <div class="content">
            <div class="details">
                <h2>Clube de Regatas do flamengo<br><span>Time de Futebol</span></h2>
                <div class="data">
                    <h3>342<br><span>Postagens</span></h3>
                    <h3>980K<br><span>Seguidores</span></h3>
                    <h3>128<br><span>Seguindo</span></h3>
                </div>
                <div class="actionBtn">
                    <button>Seguir</button>
                    <button><a href="https://futebolpeneira.com.br/category/rio-de-janeiro/">Ver Peneiras</a></button>
                </div>
            </div>
        </div>

    </div>
</body>
</html>